body{
    background-color: lightgray; !important;
    overflow: hidden;
}
body header h2{
    font-family: "Lucida Handwriting", monospace;
    font-size: 40px;
    background-color: lightgray;
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}
#navbar{
    color: black;
    border: 1px solid black;
    width: 100%;
}
#navbar div nav  div ul{
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
#navbar div nav div ul li{
    float: left;
    display: inline-block;
    width: calc(100%/5);
    text-align: center;
}
#navbar div nav div ul li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-right: 1px solid #ccc;
}
.container-fluid{
    background-color: lightgray;
}
.card {
    margin-top: -75px;
    width: 500px;
    height: auto;
    background-color: white;
}

.card2 {
    height: auto;
    background-color: #f4f5fc;
    margin-top: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px
}

.carousel {
    margin-top: -10px !important
}

.card2 h5 {
    font-weight: 700
}

.card2 p {
    font-size: 13px;
    margin-top: -10px;
    color: #8b8b90
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
