body{
    background-color: lightgray;
    overflow: hidden;
}
#image{
    display: flex;
    justify-content: center;
    height: 75px;
}
#navbar{
    color: black;
    border: 1px solid black;
    width: 100%;
}
#navbar div nav  div ul{
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
#navbar div nav div ul li{
    float: left;
    display: inline-block;
    width: calc(100%/5);
    text-align: center;
}
#navbar div nav div ul li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-right: 1px solid #ccc;
}
#content-container{
    margin-top: 30%;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body{
    border-style: solid;
    box-shadow: 5px 5px 15px #00569C;
}
.card-img-bottom{
    border-style: solid;
    box-shadow: 5px 5px 15px #00569C;
}
#server{
    height: 250px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}